/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

/* main colours used on site */
:root {
  --main-text-color: #34252f;
  --color1: #9bd1e5;
  
}

* {
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
}

h1{
    color: var(--main-text-color);
    font-family: 'Exo 2', sans-serif;
}
.home-images {
    display:grid
}

/* set temp color to txt within divs */
div {
    color:var(--color1)
}