/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

/* main colours used on site */
:root {
  --main-text-color: #34252f;
  --color1: #9bd1e5;
  --color2:#157145;
  --color3:#edbf85;

}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
 
}

body{
  background-color: #15714567;
}

h1 {
  color: var(--main-text-color);
  font-family: 'Exo 2', sans-serif;
}

div {
  color: var(--color1);
  font-family: 'Poppins', sans-serif;
}
.container {
  display: grid;
}

/* images on home page set as background images in order for parallax type scrolling to work */
/* geeksforGeeks tutorial for help */
.scroll-1 {
  width: 100%;
            height: 600px;
            background: url(/assets/images/crough-patrick-clew-bay.jpg);
            background-size: 100% 100%;
            background-attachment: fixed;
            background-repeat: no-repeat;
            position:relative;

}

.scroll-2 {
  width: 100%;
  height: 600px;
  background: url(/assets/images/glendalough.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  position:relative;
 
}

.scroll-3 {
  width: 100%;
  height: 600px;
  background: url(/assets/images/connemara-abbey.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.scroll-4 {
  width: 100%;
  height: 600px;
  background: url(/assets/images/ashford-devils-glen.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


/* Styling of txt box for details on imgs. Use color 1 but more transparent */
  .img-details{
    color: var(--main-text-color);
    background-color: #9bd1e54f;
    padding:10px;
    font-size: 1rem;
    width:100%;
    }

  .image-title{
  color: #157145;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: oblique;
  padding:10px; 
  }


/*Styling and positioning to top of page,of main nav bar */
.nav{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
	height: 60px;
	top: 0;
  background-color: #9bd1e511;
  
}

/* Styling of nav bar links */
.nav-link {
  color: #34252f;
  font-size: 25px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover{
  color:var(--color3);
}
/* Syling of nav bar items so that they are inline, not stacking vertically */
.nav-item{
  display: inline-block;
  margin: 0 30px;
  justify-content: flex-end;
  text-decoration: none;
 
}

.active{
  text-decoration: underline;
}
/* set temp color to txt within divs */


/* Carousel credit.. to be updated with own images */

body {
  margin: 0;
  background: lightgray;
  text-align: center;
  font-family: sans-serif;
  color: #fefefe;
}
.container {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 60s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:nth-child(1) {
  background-image: url("https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("https://images.pexels.com/photos/1258865/pexels-photo-1258865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("https://images.pexels.com/photos/808466/pexels-photo-808466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("https://images.pexels.com/photos/1394841/pexels-photo-1394841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("https://images.pexels.com/photos/969679/pexels-photo-969679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
